
 <div class="container ">

   <form class="row g-6" [formGroup]="customerFormGroup"  (ngSubmit)="saveCustomer()">
     <h3><b>Clients</b> </h3>
     <div class="col-auto">

       <input type="text" class="form-control" id="inputPassword2" placeholder="Customer Name" formControlName="name">
     </div>
     <div class="col-auto">

       <input type="text" class="form-control" id="inputPassword2" placeholder="Customer Email" formControlName="email">
     </div>

     <div class="col-auto">

       <button type="submit" class="btn btn-info  mb-3"> <b>Add Customer</b><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
        <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/>
      </svg></button>
     </div>
   </form>
   <br>
   

   <br>
 <div class="container">
   <table class="table shadow p-3 mb-5 bg-body rounded" *ngIf="customers">
     <thead>
       <tr class="bg-info text-dark ">
         <th>ID</th>
         <th>Nom</th>
         <th>Email</th>
         <th>Factures</th>
         <th>Supprimer</th>
         <th></th>
         <th></th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let c of customers._embedded.customers">
         <td style="color: black;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
        </svg>Client{{c.id}}</td>
         <td> <b>{{c.name}}</b></td>
         <td style="color: black;"> {{c.email}}</td>
         <td>
          <button  class="btn btn-outline-warning" (click)="getBills(c)"> <b> Show Bills</b></button>

         </td>
         <td>
          <button  class="btn btn-outline-dark" (click)="deleteCustomer(c.id)"><b> Delete</b></button>

         </td>
         
       </tr>
     </tbody>
   </table>
 </div>
